<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShopTrangSuc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>XuLyDangKy</display-name>
    <servlet-name>XuLyDangKy</servlet-name>
    <servlet-class>servlet.XuLyDangKy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDangKy</servlet-name>
    <url-pattern>/XuLyDangKy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyDangKyThongTin</display-name>
    <servlet-name>XuLyDangKyThongTin</servlet-name>
    <servlet-class>servlet.XuLyDangKyThongTin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDangKyThongTin</servlet-name>
    <url-pattern>/XuLyDangKyThongTin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyDangKyTK</display-name>
    <servlet-name>XuLyDangKyTK</servlet-name>
    <servlet-class>servlet.XuLyDangKyTK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDangKyTK</servlet-name>
    <url-pattern>/XuLyDangKyTK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLy</display-name>
    <servlet-name>XuLy</servlet-name>
    <servlet-class>servlet.XuLy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLy</servlet-name>
    <url-pattern>/XuLy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyDangNhap</display-name>
    <servlet-name>XuLyDangNhap</servlet-name>
    <servlet-class>servlet.XuLyDangNhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDangNhap</servlet-name>
    <url-pattern>/XuLyDangNhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sanphamServlet</display-name>
    <servlet-name>sanphamServlet</servlet-name>
    <servlet-class>servlet.sanphamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sanphamServlet</servlet-name>
    <url-pattern>/sanphamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>timkiemServlet</display-name>
    <servlet-name>timkiemServlet</servlet-name>
    <servlet-class>servlet.timkiemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timkiemServlet</servlet-name>
    <url-pattern>/timkiemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LienHeServlet</display-name>
    <servlet-name>LienHeServlet</servlet-name>
    <servlet-class>admin.LienHeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LienHeServlet</servlet-name>
    <url-pattern>/LienHeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyEmailPH</display-name>
    <servlet-name>XuLyEmailPH</servlet-name>
    <servlet-class>mail.XuLyEmailPH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyEmailPH</servlet-name>
    <url-pattern>/XuLyEmailPH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailPH</display-name>
    <servlet-name>EmailPH</servlet-name>
    <servlet-class>mail.EmailPH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailPH</servlet-name>
    <url-pattern>/EmailPH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormatUtil</display-name>
    <servlet-name>FormatUtil</servlet-name>
    <servlet-class>servlet.FormatUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormatUtil</servlet-name>
    <url-pattern>/FormatUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatHangServlet</display-name>
    <servlet-name>DatHangServlet</servlet-name>
    <servlet-class>servlet.DatHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatHangServlet</servlet-name>
    <url-pattern>/DatHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangServlet</display-name>
    <servlet-name>GioHangServlet</servlet-name>
    <servlet-class>servlet.GioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangServlet</servlet-name>
    <url-pattern>/GioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSPGH</display-name>
    <servlet-name>UpdateSPGH</servlet-name>
    <servlet-class>servlet.UpdateSPGH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSPGH</servlet-name>
    <url-pattern>/UpdateSPGH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaSPGH</display-name>
    <servlet-name>XoaSPGH</servlet-name>
    <servlet-class>servlet.XoaSPGH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaSPGH</servlet-name>
    <url-pattern>/XoaSPGH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KiemTraDatHangServlet</display-name>
    <servlet-name>KiemTraDatHangServlet</servlet-name>
    <servlet-class>servlet.KiemTraDatHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraDatHangServlet</servlet-name>
    <url-pattern>/KiemTraDatHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGioHangServlet</display-name>
    <servlet-name>AddGioHangServlet</servlet-name>
    <servlet-class>servlet.AddGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGioHangServlet</servlet-name>
    <url-pattern>/AddGioHangServlet</url-pattern>
  </servlet-mapping>
</web-app>