<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project_WebBanSach</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>XuLyDangKy</display-name>
    <servlet-name>XuLyDangKy</servlet-name>
    <servlet-class>LoginLogout.XuLyDangKy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDangKy</servlet-name>
    <url-pattern>/XuLyDangKy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyDangNhap</display-name>
    <servlet-name>XuLyDangNhap</servlet-name>
    <servlet-class>LoginLogout.XuLyDangNhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyDangNhap</servlet-name>
    <url-pattern>/XuLyDangNhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>product.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>card.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelateProduct</display-name>
    <servlet-name>DelateProduct</servlet-name>
    <servlet-class>card.DelateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelateProduct</servlet-name>
    <url-pattern>/DelateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>card.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdProduct</display-name>
    <servlet-name>UpdProduct</servlet-name>
    <servlet-class>card.UpdProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdProduct</servlet-name>
    <url-pattern>/UpdProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProducts</display-name>
    <servlet-name>UpdateProducts</servlet-name>
    <servlet-class>card.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProducts</servlet-name>
    <url-pattern>/UpdateProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProduct</display-name>
    <servlet-name>LoginProduct</servlet-name>
    <servlet-class>card.LoginProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProduct</servlet-name>
    <url-pattern>/LoginProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginLogout.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/error/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>LoginLogout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSach</display-name>
    <servlet-name>AddSach</servlet-name>
    <servlet-class>card.AddSach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSach</servlet-name>
    <url-pattern>/AddSach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSachVaoGioHang</display-name>
    <servlet-name>AddSachVaoGioHang</servlet-name>
    <servlet-class>card.AddSachVaoGioHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSachVaoGioHang</servlet-name>
    <url-pattern>/AddSachVaoGioHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSoLuong</display-name>
    <servlet-name>UpdateSoLuong</servlet-name>
    <servlet-class>card.UpdateSoLuong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSoLuong</servlet-name>
    <url-pattern>/UpdateSoLuong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuLyEmailPhanHoi</display-name>
    <servlet-name>XuLyEmailPhanHoi</servlet-name>
    <servlet-class>mail.XuLyEmailPhanHoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuLyEmailPhanHoi</servlet-name>
    <url-pattern>/XuLyEmailPhanHoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailPhanHoi</display-name>
    <servlet-name>EmailPhanHoi</servlet-name>
    <servlet-class>mail.EmailPhanHoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailPhanHoi</servlet-name>
    <url-pattern>/EmailPhanHoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>admin.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>admin.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAddTheLoaiSach</display-name>
    <servlet-name>ProcessAddTheLoaiSach</servlet-name>
    <servlet-class>admin.ProcessAddTheLoaiSach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAddTheLoaiSach</servlet-name>
    <url-pattern>/ProcessAddTheLoaiSach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>admin.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>admin.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>admin.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTacGiaServlet</display-name>
    <servlet-name>AddTacGiaServlet</servlet-name>
    <servlet-class>admin.AddTacGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTacGiaServlet</servlet-name>
    <url-pattern>/AddTacGiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTacGia</display-name>
    <servlet-name>DeleteTacGia</servlet-name>
    <servlet-class>admin.DeleteTacGia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTacGia</servlet-name>
    <url-pattern>/DeleteTacGia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTacGia</display-name>
    <servlet-name>UpdateTacGia</servlet-name>
    <servlet-class>admin.UpdateTacGia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTacGia</servlet-name>
    <url-pattern>/UpdateTacGia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNXBServlet</display-name>
    <servlet-name>AddNXBServlet</servlet-name>
    <servlet-class>admin.AddNXBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNXBServlet</servlet-name>
    <url-pattern>/AddNXBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNXBServlet</display-name>
    <servlet-name>DeleteNXBServlet</servlet-name>
    <servlet-class>admin.DeleteNXBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNXBServlet</servlet-name>
    <url-pattern>/DeleteNXBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNXBServlet</display-name>
    <servlet-name>UpdateNXBServlet</servlet-name>
    <servlet-class>admin.UpdateNXBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNXBServlet</servlet-name>
    <url-pattern>/UpdateNXBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDanhMucServlet</display-name>
    <servlet-name>AddDanhMucServlet</servlet-name>
    <servlet-class>admin.AddDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDanhMucServlet</servlet-name>
    <url-pattern>/AddDanhMucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDanhMuc</display-name>
    <servlet-name>AddDanhMuc</servlet-name>
    <servlet-class>admin.AddDanhMuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDanhMuc</servlet-name>
    <url-pattern>/AddDanhMuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDanhMucServlet</display-name>
    <servlet-name>DeleteDanhMucServlet</servlet-name>
    <servlet-class>admin.DeleteDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDanhMucServlet</servlet-name>
    <url-pattern>/DeleteDanhMucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDanhMucServlet</display-name>
    <servlet-name>UpdateDanhMucServlet</servlet-name>
    <servlet-class>admin.UpdateDanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDanhMucServlet</servlet-name>
    <url-pattern>/UpdateDanhMucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTheLoaiServlet</display-name>
    <servlet-name>AddTheLoaiServlet</servlet-name>
    <servlet-class>admin.AddTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTheLoaiServlet</servlet-name>
    <url-pattern>/AddTheLoaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTheLoaiServlet</display-name>
    <servlet-name>DeleteTheLoaiServlet</servlet-name>
    <servlet-class>admin.DeleteTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTheLoaiServlet</servlet-name>
    <url-pattern>/DeleteTheLoaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTheLoaiServlet</display-name>
    <servlet-name>UpdateTheLoaiServlet</servlet-name>
    <servlet-class>admin.UpdateTheLoaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTheLoaiServlet</servlet-name>
    <url-pattern>/UpdateTheLoaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSachTacGia</display-name>
    <servlet-name>UpdateSachTacGia</servlet-name>
    <servlet-class>admin.UpdateSachTacGia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSachTacGia</servlet-name>
    <url-pattern>/UpdateSachTacGia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSachTacGiaServlet</display-name>
    <servlet-name>UpdateSachTacGiaServlet</servlet-name>
    <servlet-class>admin.UpdateSachTacGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSachTacGiaServlet</servlet-name>
    <url-pattern>/UpdateSachTacGiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSachDichGiaServlet</display-name>
    <servlet-name>UpdateSachDichGiaServlet</servlet-name>
    <servlet-class>admin.UpdateSachDichGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSachDichGiaServlet</servlet-name>
    <url-pattern>/UpdateSachDichGiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSachServlet</display-name>
    <servlet-name>UpdateSachServlet</servlet-name>
    <servlet-class>admin.UpdateSachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSachServlet</servlet-name>
    <url-pattern>/UpdateSachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSachServlet</display-name>
    <servlet-name>AddSachServlet</servlet-name>
    <servlet-class>admin.AddSachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSachServlet</servlet-name>
    <url-pattern>/AddSachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSachServlet</display-name>
    <servlet-name>DeleteSachServlet</servlet-name>
    <servlet-class>admin.DeleteSachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSachServlet</servlet-name>
    <url-pattern>/DeleteSachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiMatKhau</display-name>
    <servlet-name>DoiMatKhau</servlet-name>
    <servlet-class>LoginLogout.DoiMatKhau</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiMatKhau</servlet-name>
    <url-pattern>/DoiMatKhau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanHoaDon</display-name>
    <servlet-name>ThanhToanHoaDon</servlet-name>
    <servlet-class>card.ThanhToanHoaDon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanHoaDon</servlet-name>
    <url-pattern>/ThanhToanHoaDon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeSach</display-name>
    <servlet-name>LikeSach</servlet-name>
    <servlet-class>like.LikeSach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeSach</servlet-name>
    <url-pattern>/LikeSach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSach</display-name>
    <servlet-name>UpdateSach</servlet-name>
    <servlet-class>admin.UpdateSach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSach</servlet-name>
    <url-pattern>/UpdateSach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LienHe</display-name>
    <servlet-name>LienHe</servlet-name>
    <servlet-class>admin.LienHe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LienHe</servlet-name>
    <url-pattern>/LienHe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGioiThieu</display-name>
    <servlet-name>UpdateGioiThieu</servlet-name>
    <servlet-class>admin.UpdateGioiThieu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGioiThieu</servlet-name>
    <url-pattern>/UpdateGioiThieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDonHang</display-name>
    <servlet-name>DeleteDonHang</servlet-name>
    <servlet-class>admin.DeleteDonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDonHang</servlet-name>
    <url-pattern>/DeleteDonHang</url-pattern>
  </servlet-mapping>
</web-app>